.context-primary{
    --vui-button-primary-bg: var(--color-blue-100);
    --vui-button-primary-bg-hover: var(--color-blue-200);
    --vui-button-primary-fg: var(--color-blue-700);

    --vui-field-defaul-bg: var(--color-white);
    --vui-field-defaul-bg-hover: var(--color-white);
    --vui-field-defaul-placeholder: var(--color-gray-500);
    --vui-field-defaul-border-color: var(--color-base-transparent);
    --vui-field-defaul-border-color-hover: var(--color-blue-800);

    --vui-text-color-heading: var(--color-white);
    --vui-text-color-body: var(--color-blue-50);

    --vui-surface-main: var(--color-blue-900);
    --vui-surface-container: var(--color-blue-700);
    --vui-surface-border-container: var(--color-blue-900);
}